<% article ||= Articles.new %>
<% row_class ||= "odd" %>

<tr class="<%= row_class -%>" align="left">

  <td width="10%"><%= display_date(article.link_time) %></td>
  <td width="10%"><%= article.author %></td>
  <td width="40%"><%= link_to article.subject, "http://groups.google.com" + article.url %></td>
  <td width="5%"><%= article.replies %></td>
  <td width="10%">
    <%= select("article", "category_id", options_for_select(Category.all.collect { |p| [p.name, p.id] }, article.category_id),
               {}, {:onchange => "submitUpdateArticleForm(#{article.id}, this.options[this.selectedIndex].value, -1, -1)"}) %>
  </td>
  <td width="10%">
    <%= select("article", "user_id", options_for_select(User.all.collect { |p| [p.nick, p.id] }, article.user_id),
               {:prompt=>'---'},
               {:onchange => "submitUpdateArticleForm(#{article.id}, -1, this.options[this.selectedIndex].value, -1)"}) %>
  </td>
  <td width="10%">
    <%= select("article", "status_id", options_for_select(Status.all.collect { |p| [p.name, p.id] }, article.status_id),
               {}, {:onchange => "submitUpdateArticleForm(#{article.id}, -1, -1, this.options[this.selectedIndex].value)"}) %>
  </td>
</tr>
