<% if user_signed_in? %>
  <%= render :partial => "/dashboard/article_update_form" %>
<% end %>


<h3>Articles without a reply, not closed</h3>
<% if !@articles_no_reply.empty? %>
  <table>
    <thead>
      <tr align="left">
        <th>date</th>
        <th>Author</th>
        <th>Subject</th>
        <th>#r</th>
        <th>type</th>
        <th>assigned</th>
        <th>status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @articles_no_reply.each_with_index do |a, i| %>
        <%= render :partial => "/dashboard/article_line_item", :locals => { :article => a, :row_class => (i%2 == 0 ? "even" : "odd") } %>        
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @articles_no_reply %>

<% else %>
  <div class="hint" style="font-style: italic;">empty!</div>
<% end %>

<h3>Open issues</h3>
<table>
  <thead>
    <tr align="left">
      <th>date</th>
      <th>Author</th>
      <th>Subject</th>
      <th>#r</th>
      <th>type</th>
      <th>assigned</th>
      <th>status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each_with_index { |a, i| %>
      <%= render :partial => "/dashboard/article_line_item", :locals => { :article => a, :row_class => (i%2 == 0 ? "even" : "odd") } %>
    <% } %>
  </tbody>
</table>
<br/>

<%= will_paginate @articles %>
<br/>
<br/>