<!--
<h3>All Open Issues. Search by user :
<%= form_tag(dashboard_byuser_path) do %>
  <%= select("user", "user_id", options_for_select(User.all.collect { |p| [p.email, p.id] }, 1)) %>
  <%= submit_tag("go") %>
<% end %>
</h3>
-->


<%= render :partial => "/dashboard/article_update_form" %>        


<% if !@articles_no_reply.empty? %>
  <h3>Articles without a reply, not closed</h3>
  <table>
    <thead>
      <tr align="left">
        <th>date</th>
        <th>Author</th>
        <th>Subject</th>
        <th>#r</th>
        <th>type</th>
        <th>assigned</th>
        <th>status</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @articles_no_reply.each_with_index do |a, i| %>
        <%= render :partial => "/dashboard/article_line_item", :locals => { :article => a, :row_class => (i%2 == 0 ? "even" : "odd") } %>        
      <% end %>
    </tbody>
  </table>

  <%= will_paginate @articles_no_reply %>

<% else %>
  <h3> No articles without a reply that are not closed </h3>
<% end %>

<h3>Open issues</h3>
<table>
  <thead>
    <tr align="left">
      <th>date</th>
      <th>Author</th>
      <th>Subject</th>
      <th>#r</th>
      <th>type</th>
      <th>assigned</th>
      <th>status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @articles.each_with_index { |a, i| %>
      <%= render :partial => "/dashboard/article_line_item", :locals => { :article => a, :row_class => (i%2 == 0 ? "even" : "odd") } %>
    <% } %>
  </tbody>
</table>
<%= will_paginate @articles %>
