<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div style=" ">
    <table class="simple-nb">
      <tr>
        <td><%= f.label :nick %></td>
        <td><%= f.text_field :nick %></td>
      </tr>
      <tr>
        <td><%= f.label :email %></td>
        <td><%= f.text_field :email %></td>
      </tr>
      <tr>
        <td colspan="2"><hr style="margin:5px 0"/></td>
      </tr>
      <tr>
        <td><%= f.label 'Email alert' %></td>
        <td><%= f.check_box :email_alert %></td>
      </tr>
      <tr>
        <td><%= f.label 'Start time' %></td>
        <td><%= text_field_tag "user[estime]", @user.estime && l(@user.estime, :format => :default), :size => 8 %></td>
      </tr>
      <tr>
        <td><%= f.label 'End time' %></td>
        <td><%= text_field_tag "user[eetime]", @user.eetime && l(@user.eetime, :format => :default), :size => 8 %></td>
      </tr>
      <tr>
        <td colspan="2"><hr style="margin:5px 0"/></td>
      </tr>
      <tr>
        <td><%= f.label :sms %></td>
        <td><%= f.check_box :sms %></td>
      </tr>
      <tr>
        <td><%= f.label 'Sms address' %></td>
        <td><%= f.text_field :sms_address %></td>        
      </tr>
      <tr>
        <td><%= f.label 'Start time' %></td>
        <td><%= text_field_tag "user[sstime]", @user.sstime && l(@user.sstime, :format => :default), :size => 8 %></td>
      </tr>
      <tr>
        <td><%= f.label 'End time' %></td>
        <td><%= text_field_tag "user[setime]", @user.setime && l(@user.setime, :format => :default), :size => 8 %></td>
      </tr>
      <tr>
        <td colspan="2"><hr style="margin:5px 0"/></td>
      </tr>
      <tr>
        <td><%= f.label :weekend %></td>
        <td><%= f.check_box :weekend %></td>
      </tr>
      <tr>
        <td></td>
        <td><br/><%= f.submit %></td>
      </tr>

    </table>
  </div>
  <br/>
 
<% end %>

