<h1>Listing users</h1>

<table>
  <tr align="left">
    <th>Nick</th>
    <th>Email</th>
    <th>Email-alert</th>
    <th>start</th>
    <th>end</th>
    <th>SMS Alert</th>
    <th>start</th>
    <th>end</th>
    <th>weekend</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<%= @users.each do |user| %>
  <tr align="left">
    <td><%= user.nick %></td>
    <td><%= user.email %></td>
    <td><%= user.gmail %></td>
    <td><%= user.estime %></td>
    <td><%= user.eetime %></td>
    <td><%= user.sms %></td>
    <td><%= user.setime %></td>
    <td><%= user.sstime %></td>
    <td><%= user.weekend %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
