<p id="notice"><%= notice %></p>


<table>
  <tr align="left"><td>Nick</td>            <td><%= @user.nick %></td></tr>
  <tr align="left"><td>Email</td>           <td><%= @user.email %></td></tr>
  <tr align="left"><td>Email Alert:</td>    <td><%= @user.email %></td></tr>
  <tr align="left"><td>start</td>           <td><%= @user.estime %></td></tr>
  <tr align="left"><td>end</td>             <td><%= @user.eetime %></td></tr>
  <tr align="left"><td>SMS Alerts</td>      <td><%= @user.sms %></td></tr>
  <tr align="left"><td>start</td>           <td><%= @user.sstime %></td></tr>
  <tr align="left"><td>end</td>             <td><%= @user.setime %></td></tr>
  <tr align="left"><td>Weekend</td>         <td><%= @user.weekend %></td></tr>
</table>

<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
