


<table class="simple-nb">
  <tr><td>Nick</td>            <td><%= @user.nick %></td></tr>
  <tr><td>Email</td>           <td><%= @user.email %></td></tr>
  <tr><td colspan="2"><hr style="margin:5px 0"/></td></tr>
  
  <tr><td>Email alert:</td>    <td><%= @user.email_alert %></td></tr>
  <tr><td>start</td>           <td><%= @user.estime && l(@user.estime, :format => :default) %></td></tr>
  <tr><td>end</td>             <td><%= @user.eetime && l(@user.eetime, :format => :default) %></td></tr>
  <tr><td colspan="2"><hr style="margin:5px 0"/></td></tr>
  
  <tr><td>SMS alerts</td>      <td><%= @user.sms_alert %></td></tr>
  <tr><td>SMS address</td>      <td><%= @user.sms_address %></td></tr>
  <tr><td>start</td>           <td><%= @user.sstime && l(@user.sstime, :format => :default) %></td></tr>
  <tr><td>end</td>             <td><%= @user.setime && l(@user.setime, :format => :default) %></td></tr>
  <tr><td colspan="2"><hr style="margin:5px 0"/></td></tr>
  
  <tr><td>Weekend</td>         <td><%= @user.weekend %></td></tr>
</table>

<br>
<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
