<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<p>
  <b>Email Alert:</b>
  <%= @user.gmail %>
</p>

<p>
  <b>start</b>
  <%= @user.estime %>
</p>

<p>
  <b>end</b>
  <%= @user.eetime %>
</p>

<p>
  <b>SMS Alerts</b>
  <%= @user.sms %>
</p>
<p>
  <b>start</b>
  <%= @user.sstime %>
</p>

<p>
  <b>end</b>
  <%= @user.setime %>
</p>

<p>
  <b>Weekend</b>
  <%= @user.weekend %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
