
<% @day_stats.each_with_index do |stats_map, i| %>

    <%
        label    = stats_map[:label]
        stats   = stats_map[:stats] 
        @data_x = stats.keys
        @data_x.map! {|d| (d % 12) + 1 }        
        @data_x[@data_x.length - 1] = "12"        
        @data_x[11] = "Noon"        
       
        @data_y = stats.values
    %>
    
    <script type="text/javascript">
        $(function() {
            new Highcharts.Chart({
                chart: {
                    renderTo: "chart_<%= i %>"
                },
                title: {
                    text:"Incoming by hour - <%= label %>"
                },
                xAxis: {
                    categories: [<%= @data_x.map { |x| "'#{x}'" }.join(',') %>]
                },
                yAxis: {
                    title: {
                        text: "incoming"
                    }
                },
                series: [
                    {
                        name: "Articles",
                        data: <%= @data_y %>
                    }
                ]
            });
        });

    </script>

    <div id="chart_<%= i %>" style="width:560px; height:300px;">

    </div>

<% end %>